$main-color: #1c1c1c


@font-face
  font-family: "SegoeUILight"
  src: url("../fonts/SegoeUI-Light.eot")
  src: url("../fonts/SegoeUI-Light.eot?#iefix")format("embedded-opentype"),url("../fonts/SegoeUI-Light.woff") format("woff"),url("../fonts/SegoeUI-Light.ttf") format("truetype")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "SegoeUI"
  src: url("../fonts/SegoeUI.eot")
  src: url("../fonts/SegoeUI.eot?#iefix")format("embedded-opentype"),url("../fonts/SegoeUI.woff") format("woff"),url("../fonts/SegoeUI.ttf") format("truetype")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "SegoeUI-Semibold"
  src: url("../fonts/SegoeUI-SemiBold.eot")
  src: url("../fonts/SegoeUI-SemiBold.eot?#iefix")format("embedded-opentype"),url("../fonts/SegoeUI-SemiBold.woff") format("woff"),url("../fonts/SegoeUI-SemiBold.ttf") format("truetype")
  font-style: normal
  font-weight: normal




=box-sizing($params)
  -webkit-box-sizing: $params
  -moz-box-sizing: $params
  box-sizing: $params





body
  font-family: "SegoeUI", sans-serif
  padding: 0
  margin: 0
  line-height: 1em
  font-size: 14px

img
   max-width: 100%
.wrap
  width: 940px
  margin: auto
header
  background:  #1a1a1a
  padding-top: 50px
  padding-bottom: 60px


  .logo
      display: inline-block
      vertical-align: middle
      width: 200px

      margin-right: 125px

  .social
      display: inline-block
      vertical-align: middle
      margin-right: 110px
      li
        display: inline-block
        width: 24px
        height: 23px
        background: url("../img/icons/social.png") no-repeat
        margin-right: 45px
        &.facebook
          background-position: -51px 0
        &.twitter
          background-position: top right
          width: 23px
          a
            width: 23px
        &:last-child
          margin-right: 0
        a
          display: block
          width: 24px
          height: 23px

  .lang
      display: inline-block
      vertical-align: middle

      li
        display: inline-block
        vertical-align: middle
        margin-right: 50px
        &:last-child
          margin-right: 0
        &.active
          a
            background: #ffe400
            color: #000000
            &:hover
              color: #000000

        a
          line-height: 20px
          color: #FFFFFF
          font-size: 14px
          font-family: "SegoeUILight", sans-serif
          width: 25px
          text-transform: uppercase
          text-align: center
          display: block
          &:hover
            color: #ffe400
            text-decoration: none

  .cart
      display: inline-block
      vertical-align: middle
      float: right
      margin-top: 20px
      a
        display: block
        background: url("../img/icons/cart.png") no-repeat
        width: 25px
        height: 28px
        color: #030303
        font-size: 20px
        font-family: "SegoeUI", sans-serif
        text-align: center
        line-height: 32px
        &:hover
          text-decoration: none



  .menu
      margin-top: 50px
      ul


      li
        list-style: none
        text-align: center
        display: inline-block
        margin-right: 78px
        &:last-child
          margin-right: 0px
          text-align: left
        &.active
          a
            color: #ffe400
            text-decoration: none
        a
          color: #fff
          font-size: 18px
          line-height: 1em
          font-family: "SegoeUILight", sans-serif


          &:hover
            color: #ffe400
            text-decoration: none





footer
  background: #1a1a1a
  padding-top: 65px
  padding-bottom: 20px
  color: #fff
  .wrap
    > div
      display: inline-block
      vertical-align: top
      h3
        color: #ffe400
        font-size: 18px
        line-height: 1em
        font-family: "SegoeUI", sans-serif
        margin-bottom: 15px
        font-weight: normal


      ul
        li
          font-size: 16px
          line-height: 1.3em


      .call_us
        ul
          li
            margin-bottom: 15px
          a
            color: #FFFFFF
            &:hover
              color: #ffe400
              text-decoration: none



      .social
        display: inline-block
        vertical-align: middle
        margin-bottom: 30px

        li
          display: inline-block
          width: 24px
          height: 23px
          background: url("../img/icons/social.png") no-repeat
          margin-right: 20px
          &.facebook
            background-position: -51px 0
          &.twitter
            background-position: top right
            width: 23px
            a
              width: 23px
          &:last-child
            margin-right: 0
          a
            display: block
            width: 24px
            height: 23px
    .adress
        width: 235px
        margin: auto 165px


        ul
          li
            margin-bottom: 30px

            &:last-child
              margin-bottom: 0


    .subscription
      margin-bottom: 20px
      h3
        margin-bottom: 20px

      input
        background: none
        border: 1px solid #fff
        width: 220px
        height: 35px
        +box-sizing(border-box)
        padding: 0 10px
        color: #FFF
        &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
              color: #fff


    .payment
      ul
        li
          height: 17px
          width: 28px
          display: inline-block
          vertical-align: middle
          background: url("../img/icons/master_card.png") no-repeat
          margin-right: 24px
          a
            display: block
            height: 17px
            color: #FFFFFF



          &.privat
            background-position: -55px 0
            width: 15px

          &.visa
            background-position: -100px 0
            width: 35px

          &.paypal
            background-position: top right
            width: 58px
            margin-right: 0


  .copyright
    font-family: "SegoeUILight", sans-serif
    color:  #fefefe
    font-size: 14px



.popular_product
  h3
    text-align: center
    line-height: 1em
    font-size: 30px
    color: #191919
    margin-bottom: 70px
    font-weight: normal
    font-family: "SegoeUILight", sans-serif

  .products
    margin: 0 -10px
    .product
      display: inline-block
      vertical-align: top
      margin: 0 8px 20px
      a
        display: block
        position: relative
        .images
          position: relative
          &:before
              background:  rgba(255, 228, 0, 0.71)
              position: absolute
              content: ''
              top: 0
              left: 0
              height: 100%
              width: 100%
              transition: all .3s
              opacity: 0
          &:after
            background:  url("../img/icons/product_hover.png") no-repeat center
            position: absolute
            content: ''
            top: 50%
            left: 50%
            height: 45px
            width: 45px
            opacity: 0
            transform: translateY(30px)
            transition: all .3s ease-in
            margin-top: -22px
            margin-left: -22px

        &:hover
          .images
            &:before
              opacity: 1
              transition: all .3s
            &:after
                opacity: 1
                transform: translateY(0px)
                transition: all .3s ease-out







.slider
  margin-bottom: 100px
  height: 625px


  li
    height: 625px


.container
  position: relative
  
  
body
  &.home
    header
      padding-bottom: 415px


    .container

      top: -355px
      margin-bottom: -500px


    footer
      padding-top: 210px
  &.shop
    header
      padding-bottom: 415px

    .container
      top: -350px
      margin-bottom: -350px



.list_products

    .product
      display: inline-block
      vertical-align: top
      margin: 0 16px 90px 0
      width: 300px
      &:nth-child(3n)
        margin-right: 0
      a
        display: block
        position: relative
        .images
          position: relative
          margin-bottom: 10px
          width: 300px
          height: 350px
          &:before
            background:  rgba(255, 228, 0, 0.71)
            position: absolute
            content: ''
            top: 0
            left: 0
            height: 100%
            width: 100%
            transition: all .3s
            opacity: 0
          &:after
            background:  url("../img/icons/product_hover.png") no-repeat center
            position: absolute
            content: ''
            top: 50%
            left: 50%
            height: 45px
            width: 45px
            opacity: 0
            transform: translateY(30px)
            transition: all .3s ease-in
            margin-top: -22px
            margin-left: -22px



        .product_name
          font-size: 20px
          line-height: 1em
          font-family: "SegoeUILight", sans-serif
          color: #000
          margin-bottom: 20px
          text-overflow: ellipsis
          white-space: nowrap
          overflow: hidden
        .price
          font-size: 20px
          line-height: 1em
          font-family: "SegoeUI-Semibold", sans-serif
          color: #000


        &:hover
          text-decoration: none
          /*.product_name
            color: #ffe400*/

          .images
            &:before
              opacity: 1
              transition: all .3s
            &:after
              opacity: 1
              transform: translateY(0px)
              transition: all .3s ease-out



.pagination
  text-align: center
  margin-bottom: 150px
  margin-top: -30px

  li
    width: 57px
    height: 17px
    display: inline-block
    vertical-align: top
    a
      display: block
      height: 17px

    &.prev

      margin-right: 140px
      a
        background: url("../img/icons/pagination_prev.png") no-repeat
    &.next
      a
        background: url("../img/icons/pagination_next.png") no-repeat





.categories
  margin-bottom: 130px
  .category
    display: inline-block
    vertical-align: top
    margin: 0 16px 20px 0
    width: 300px
    &:nth-child(3n)
      margin-right: 0
    a
      display: block
      position: relative
      .images
        position: relative
        width: 300px
        height: 350px
        &:before
          background:  rgba(255, 228, 0, 0.71)
          position: absolute
          content: ''
          top: 0
          left: 0
          height: 100%
          width: 100%
          transition: all .3s
          opacity: 0
        &:after
          background:  url("../img/icons/product_hover.png") no-repeat center
          position: absolute
          content: ''
          top: 50%
          left: 50%
          height: 45px
          width: 45px
          opacity: 0
          transform: translateY(30px)
          transition: all .3s ease-in
          margin-top: -22px
          margin-left: -22px



      .category_name
        font-size: 24px
        line-height: 1em
        font-family: "SegoeUILight", sans-serif
        color: #000
        background:  rgba(255, 228, 0, 0.71)
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        padding: 20px 15px
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden







      &:hover
        text-decoration: none
        .category_name
          display: none
        .images
          &:before
            opacity: 1
            transition: all .3s
          &:after
            opacity: 1
            transform: translateY(0px)
            transition: all .3s ease-out





.buy
    width: 625px
    margin: auto
    li

      width: 190px
      margin-bottom: 70px
      &:nth-child(2n)
        float: right
        clear: right
      &:nth-child(2n+1)
        float: left
        clear: left




      strong
        color:  #191919
        font-size: 20px
        line-height: 1em
        font-family: "SegoeUI-Semibold", sans-serif
        margin-bottom: 15px
        display: block


      p
        color:  #191919
        font-size: 20px
        line-height: 2em
        font-family: "SegoeUILight", sans-serif


        span
          display: block
          font-size: 14px
          font-family: "SegoeUILight", sans-serif




.article
  margin: 105px auto 85px
  h1
    line-height: 1em
    text-align: center
    color:  #191919
    font-size: 30px
    margin-bottom: 90px
    font-family: "SegoeUI", sans-serif
    font-weight: normal

  h3
    line-height: 1em
    color:  #191919
    font-size: 24px
    margin-bottom: 30px
    font-family: "SegoeUI", sans-serif
    font-weight: normal
    margin-top: 50px



  p
    line-height: 1.5em
    color:  #191919
    font-size: 16px
    margin-bottom: 30px
    font-family: "SegoeUI", sans-serif
    &:last-child
      margin-bottom: 0


  form
    width: 538px
    display: inline-block

    input[type="text"]
      border: 1px #adacac  solid
      width: 538px
      height: 48px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      padding: 0 15px
      line-height: 48px
      color: #949292
      font-size: 18px
      font-family: "SegoeUILight", sans-serif
      margin-bottom: 20px



    textarea
      width: 538px
      height: 108px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      padding: 0 15px
      line-height: 48px
      color: #949292
      font-size: 18px
      font-family: "SegoeUILight", sans-serif
      border: 1px #adacac  solid
      margin-bottom: 20px
    input[type="submit"]
        margin: auto
        width: 123px
        height: 43px
        border: 1px solid #000000
        background: none
        display: block
        font-size: 18px
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        line-height: 41px
        -webkit-transition: all 0.35s
        -moz-transition: all 0.35s
        -o-transition: all 0.35s
        transition: all 0.35s
        &:hover
          background: #000000
          color: #fff
          -webkit-transition: all 0.35s
          -moz-transition: all 0.35s
          -o-transition: all 0.35s
          transition: all 0.35s





  ul.contact
      float: right
      li
        display: block
        color: #000
        font-size: 20px
        font-family: "SegoeUI", sans-serif
        margin-bottom: 30px





form.payment
  margin: 110px auto 80px
  width: 700px

  h3
    margin-bottom: 35px
    color: #191919
    font-size: 24px
    line-height: 1em
    font-weight: normal
    font-family: "SegoeUI", sans-serif
    clear: both

  input[type="submit"]
    margin: auto
    width: 123px
    height: 43px
    border: 1px solid #000000
    background: none
    display: block
    font-size: 18px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    line-height: 41px
    -webkit-transition: all 0.35s
    -moz-transition: all 0.35s
    -o-transition: all 0.35s
    transition: all 0.35s
    &:hover
      background: #000000
      color: #fff
      -webkit-transition: all 0.35s
      -moz-transition: all 0.35s
      -o-transition: all 0.35s
      transition: all 0.35s

  input[type="text"]
      border: 1px #adacac  solid
      width: 338px
      height: 48px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      padding: 0 15px
      line-height: 48px
      color: #949292
      font-size: 18px
      font-family: "SegoeUILight", sans-serif
      margin-bottom: 20px
      &:nth-child(2n)
        margin-right: 20px

  .radio
    margin-bottom: 50px
    > div
      width: 50%
      float: left
      margin-bottom: 30px
      label
        cursor: pointer
        padding-left: 40px
        background: url("../img/icons/radio.png") no-repeat bottom left
        line-height: 25px
        height: 25px
        color:  #000000
        font-size: 18px
        display: inline-block


      input[type="radio"]
        display: none
        &:checked
          + label
            background-position: top left

