doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.error404


            div.container
                .wrap

                    h3 404
                    p Page not found
                    a(href="/") Вернуться на главную






