doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper
            include ./header.jade

            div.container
                .wrap

                    .blog.cf
                        h1 Блог
                        .item-arcticle.cf
                            a(href="#")
                                .image-left
                                    img(src="../img/content/img_about.jpg")

                                .text_overflow
                                    h3 Скоро выйдет новая коллекция одежды
                                    span.blog-date 07.01.2016
                                    p.
                                        Задача организации, в особенности же консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
                                        Таким образом укрепление и развитие структуры способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.

                        .item-arcticle.cf
                            a(href="#")
                                .image-left
                                    img(src="../img/content/img_about.jpg")

                                .text_overflow
                                    h3 Скоро выйдет новая коллекция одежды
                                    span.blog-date 07.01.2016
                                    p.
                                        Разнообразный и богатый опыт новая модель организационной деятельности в значительной степени обуславливает создание новых предложений.
                                        Задача организации, в особенности же консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.


                        .item-arcticle.cf
                            a(href="#")
                                .image-left
                                    img(src="../img/content/img_about.jpg")

                                .text_overflow

                                    h3 Скоро выйдет новая коллекция одежды
                                    span.blog-date 07.01.2016
                                    p Разнообразный и богатый опыт новая модель организационной деятельности в значительной степени обуславливает создание новых предложений.
                                    p Разнообразный и богатый опыт новая модель организационной деятельности в значительной степени обуславливает создание новых предложений.

                    .pagination
                        ul
                            li.prev.disabled
                                a(href="#")
                            li.next
                                a(href="#")



            include ./footer.jade