doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper
            include ./header.jade

            div.container
                .wrap

                    .article
                        h1 Где купить

                        ul.buy.cf
                            li
                                strong Адрес 1
                                p Украина, Черкассы <br/> Ул. Ильина 200/1 <br/>+38 (093) 256 38 52
                            li
                                strong График работы:
                                p с 8:00 до 20:00
                                    span В субботу: с 9:00 до 19:00
                                    span В воскресенье: с 9:00 до 19:00
                            li
                                strong Адрес 2
                                p Украина, Черкассы <br/>Ул. Ильина 200/1 <br/>+38 (093) 256 38 52
                            li
                                strong График работы:
                                p с 8:00 до 20:00
                                    span В субботу: с 9:00 до 19:00
                                    span В воскресенье: с 9:00 до 19:00




            include ./footer.jade