doctype html
html(lang="ru")
    head
        link(href="/css/main.css" rel="stylesheet" type="text/css")
        link(href="bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css")
        link(href="/css/owl.carousel.css" rel="stylesheet" type="text/css")
        link(href="/css/template.css" rel="stylesheet" type="text/css")
        script(src="bower_components/jquery/dist/jquery.js")
        script(src="/js/owl.carousel.js")
        script(src="/js/untils.js")


    body
        .page_wrapper
            include ./header.jade

            div.container
                .wrap

                    .cart_page
                        h1 Ваша корзина

                        form.cf
                            .products
                                .product-item
                                    .image
                                        a(href="/product.html")
                                            img(src="../img/content/small_img.jpg", alt="Кожанный кошелек")
                                    .item-name
                                        a(href="/product.html") Кожанный кошелек
                                        span.code Код товара: 36525

                                    .attr
                                        .color
                                            span.attr_name Цвет:
                                            img(src="img/content/color1.jpg")
                                        .counts Количество 1 шт.

                                    .price 499.00 UAH
                                    .delete
                                        a(href="#")
                                            img(src="img/icons/delete.png")
                                            span Удалить


                                .product-item
                                    .image
                                        a(href="/product.html")
                                            img(src="../img/content/small_img.jpg", alt="Кожанный кошелек")
                                    .item-name
                                        a(href="/product.html") Кожанный кошелек
                                        span.code Код товара: 36525

                                    .attr
                                        .color
                                            span.attr_name Цвет:
                                            img(src="img/content/color2.jpg")
                                        .counts Количество 1 шт.

                                    .price 499.00 UAH
                                    .delete
                                        a(href="#")
                                            img(src="img/icons/delete.png")
                                            span Удалить
                            .control-pannel
                                .total_price Всего: 898.00 UAH
                                button(type="submit") Оформить заказ






            include ./footer.jade