doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper
            include ./header.jade

            div.container
                .wrap

                    .cart_page
                        h1 Ваша корзина

                        form.cf
                            .products
                                .product-item
                                    .image.img-holder
                                        a(href="/product.html")
                                            img(src="../img/content/small_img.jpg", alt="Кожанный кошелек")
                                    .item-name
                                        a(href="/product.html", title="Кожанный кошелек") Кожанный кошелек
                                        span.code Код товара: 36525

                                    .attr
                                        .color
                                            span.attr_name Цвет:
                                            span.color_bg(style="background: #975f23")
                                        .counts Количество 1 шт.

                                    .price 499.00 UAH
                                    .delete
                                        button
                                            img(src="img/icons/delete.png")
                                            span Удалить


                                .product-item
                                    .image.img-holder
                                        a(href="/product.html")
                                            img(src="../img/content/small_img.jpg", alt="Кожанный кошелек")
                                    .item-name
                                        a(href="/product.html", title="Кожанный кошелек") Кожанный кошелек
                                        span.code Код товара: 36525

                                    .attr
                                        .color
                                            span.attr_name Цвет:
                                            span.color_bg(style="background: #975f23")
                                        .counts Количество 1 шт.

                                    .price 499.00 UAH
                                    .delete
                                        button
                                            img(src="img/icons/delete.png")
                                            span Удалить
                            .control-pannel
                                .total_price Всего: 898.00 UAH
                                //button(type="submit") Оформить заказ
                                a(href="#") Оформить заказ






            include ./footer.jade