doctype html
html(lang="ru")
    include ./header.jade


    body
        .page_wrapper.shop

            include ./header.jade


            div.container
                .wrap


                    .categories

                        .category
                            a(href="/list_products.html")
                                .images.img-holder
                                    img(src="img/content/img2.jpg" alt="Товар 2")
                                .category_name Кошельки

                        .category
                            a(href="/list_products.html")
                                .images.img-holder
                                    img(src="img/content/img3.jpg" alt="Товар 3")
                                .category_name Галстуки

                        .category
                            a(href="/list_products.html")
                                .images.img-holder
                                    img(src="img/content/img4.jpg" alt="Товар 4")
                                .category_name Рубашки

                        .category
                            a(href="/list_products.html")
                                .images.img-holder
                                    img(src="img/content/img5.jpg" alt="Товар 5")
                                .category_name Штаны

                        .category
                            a(href="/list_products.html")
                                .images.img-holder
                                    img(src="img/content/img2.jpg" alt="Товар 2")
                                .category_name Рюкзаки

                        .category
                            a(href="/list_products.html")
                                .images.img-holder
                                    img(src="img/content/img3.jpg" alt="Товар 3")
                                .category_name Рюкзаки





            include ./footer.jade