doctype html
html(lang="ru")
    head
        link(href="/css/main.css" rel="stylesheet" type="text/css")
        link(href="bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css")
        link(href="/css/owl.carousel.css" rel="stylesheet" type="text/css")
        link(href="/css/template.css" rel="stylesheet" type="text/css")
        script(src="bower_components/jquery/dist/jquery.js")
        script(src="/js/owl.carousel.js")
        script(src="/js/untils.js")
        script(src="/js/alexValidate.js")


    body
        .page_wrapper
            include ./header.jade

            div.container
                .wrap

                    .article
                        h1 Контакты
                        form.contacts
                            div
                                input(type="text", placeholder="Имя:", name="name", minlength="2", data-validate="name")
                                span.error Поле обязательное для заполнения
                            div
                                input(type="email", placeholder="E-mail:", name="email", data-validate="email")
                                span.error Поле обязательное для заполнения
                            div
                                textarea( placeholder="Сообщение:", name="message",data-validate="name")
                                span.error Поле обязательное для заполнения
                            button(type="submit") Отправить
                        ul.contact
                            li Skype: Symonenko.shop
                            li Телефон: +38 (093) 526 35 69
                            li Телефон: +38 (093) 526 35 69
                            li Почта: Symonen.ko@gmail. com



            include ./footer.jade