doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper
            include ./header.jade

            div.container
                .wrap

                    .article
                        h1 Контакты
                        form.contacts
                            div
                                input(type="text", placeholder="Имя:", name="name", minlength="2", data-validate="name")
                                span.error Поле обязательное для заполнения
                            div
                                input(type="email", placeholder="E-mail:", name="email", data-validate="email")
                                span.error Поле обязательное для заполнения
                            div
                                textarea( placeholder="Сообщение:", name="message",data-validate="name")
                                span.error Поле обязательное для заполнения
                            //button(type="submit") Отправить
                            .btn.submit Отправить



                        ul.contact
                            li Skype:
                                a(href="skype:Symonenko.shop?chat" title="Symonenko.shop") Symonenko.shop
                            li Телефон:
                                a(href="tel:+380935263954") +38 (093) 526 39 54
                            li Телефон:
                                a(href="tel:+380935263954") +38 (093) 526 39 54
                            li Почта:
                                a(href="mailto:Symonen.ko@gmail.com") Symonen.ko@gmail.com



            include ./footer.jade