doctype html
html(lang="ru")
    head
        link(href="/css/main.css" rel="stylesheet" type="text/css")
        link(href="bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css")
        link(href="/css/owl.carousel.css" rel="stylesheet" type="text/css")
        link(href="/css/template.css" rel="stylesheet" type="text/css")
        script(src="bower_components/jquery/dist/jquery.js")
        script(src="/js/owl.carousel.js")
        script(src="/js/untils.js")


    body
        .page_wrapper
            include ./header.jade

            div.container
                .wrap

                    .article
                        h1 FAQ

                        h3 Обмен и возврат
                        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
                        p При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.

                        h3 Оплата
                        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
                        p При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.

                        h3 Доставка
                        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
                        p При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.





            include ./footer.jade