footer
    .wrap
        div
            div.call_us
                h3 Позвонить нам
                ul
                    li
                        a(href="tel:+380935263954") +38 (093) 52 63 954
                    li
                        a(href="tel:+380935263954") +38 (093) 52 63 954


            .social
                h3 Социальные сети
                li.vk
                    a(href="#", target="_blank")
                li.facebook
                    a(href="#", target="_blank")
                li.twitter
                    a(href="#", target="_blank")

        div.adress
            h3 Где мы находимся
            ul
                li г. Черкассы, ул. Ильина 1, 2 этаж “ Кооператор”
                li г. Черкассы, ул. Ильина 1, 2 этаж “ Кооператор”



        div
            div.subscription
                h3 Подписаться на новости
                form.subscription_mail

                        input(type='email' placeholder='mail:', data-validate="email")
                        button(type="submit")



            div.payment
                h3 Способы оплаты
                ul
                    li.payment1
                        //a(href="#")
                    li.privat
                        //a(href="#")
                    li.visa
                        //a(href="#")
                    li.paypal
                        a(href="#")



        p.copyright
            span © 2016 Symonen.ko
            a(href="http://intertechcompany.com/" class="copyright" target="_blank") © INTERTECH 2015-2016


#cache
    img(src="../img/icons/cart_hover.png")
    img(src="../img/icons/master_card_hover.png")
    img(src="../img/icons/email_hover.png")