
header

            .wrap
                .logo
                    a(href="/")
                        img(src="img/icons/logo.png")

                ul.social
                    li.vk
                        a(href="#")
                    li.facebook
                        a(href="#")
                    li.twitter
                        a(href="#")
                ul.lang
                    li.ua
                        a(href="#") ua
                    li.ru.active
                        a(href="#") ru
                    li.en
                        a(href="#") en


                div.cart
                    a(href='/cart.html') 1


                .menu
                    ul
                        li.active
                            a(href="/") Главная
                        li
                            a(href="/category.html") Купить онлайн
                        li
                            a(href="/buy.html") Где купить
                        li
                            a(href="#") О нас
                        li
                            a(href="/faq.html") FAQ
                        li
                            a(href="#") Блог
                        li
                            a(href="/contacts.html") Контакты





