
header

            .wrap
                .mobile-navbar
                    div.navbar-toggle(type="button")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar


                    .mobile-navbar-holder
                        .menu
                            ul
                                li.active
                                    a(href="/") Главная
                                li
                                    a(href="/category.html") Купить онлайн
                                li
                                    a(href="/buy.html") Где купить
                                li
                                    a(href="/about.html") О нас
                                li
                                    a(href="/faq.html") FAQ
                                li
                                    a(href="/blog.html") Блог
                                li
                                    a(href="/contacts.html") Контакты
                        ul.social
                            li.vk
                                a(href="#", target="_blank")
                            li.facebook
                                a(href="#", target="_blank")
                            li.twitter
                                a(href="#", target="_blank")
                        ul.lang
                            li.ua
                                a(href="#") ua
                            li.ru.active
                                a(href="#") ru
                            li.en
                                a(href="#") en



                .logo
                    a(href="/")
                        img(src="img/icons/logo.png")

                ul.social
                    li.vk
                        a(href="#", target="_blank")
                    li.facebook
                        a(href="#", target="_blank")
                    li.twitter
                        a(href="#", target="_blank")
                ul.lang
                    li.ua
                        a(href="#") ua
                    li.ru.active
                        a(href="#") ru
                    li.en
                        a(href="#") en


                div.cart
                    a(href='/cart.html') 2


                .menu
                    ul
                        li.active
                            a(href="/") Главная
                        li
                            a(href="/category.html") Купить онлайн
                        li
                            a(href="/buy.html") Где купить
                        li
                            a(href="/about.html") О нас
                        li
                            a(href="/faq.html") FAQ
                        li
                            a(href="/blog.html") Блог
                        li
                            a(href="/contacts.html") Контакты





