doctype html
html(lang="ru")
    include ./header.jade


    body
        .page_wrapper.home
            include ./header.jade

            div.container
                .wrap

                    ul.slider

                        li
                            img(src="img/content/slider.jpg")
                        li
                            img(src="img/content/slider.jpg")

                        li
                            img(src="img/content/slider.jpg")




                    .popular_product
                        h3 Популярные товары
                        .products
                            .product
                                a(href="/product.html")
                                        .images
                                            img(src="img/content/img1.jpg" alt="Товар 1")
                            .product
                                a(href="/product.html")
                                    .images
                                        img(src="img/content/img2.jpg" alt="Товар 2")
                            .product
                                a(href="/product.html")
                                    .images
                                        img(src="img/content/img3.jpg" alt="Товар 3")
                            .product
                                a(href="/product.html")
                                    .images
                                        img(src="img/content/img4.jpg" alt="Товар 4")
                            .product
                                a(href="/product.html")
                                    .images
                                        img(src="img/content/img5.jpg" alt="Товар 5")





            include ./footer.jade