doctype html
html(lang="ru")
    head
        link(href="/css/main.css" rel="stylesheet" type="text/css")
        link(href="bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css")



body
        header
            .wrap
                .logo
                    a(href="/")
                        img(src="img/icons/logo.png")

                ul.social
                    li.vk
                        a(href="#")
                    li.facebook
                        a(href="#")
                    li.twitter
                        a(href="#")
                ul.lang
                    li.ua
                        a(href="#") ua
                    li.ru.active
                        a(href="#") ru
                    li.en
                        a(href="#") en


                div.cart
                    a(href='#') 1


                .menu
                    ul
                        li.active
                            a(href="#") Главная
                        li
                            a(href="#") Купить онлайн
                        li
                            a(href="#") Где купить
                        li
                            a(href="#") О нас
                        li
                            a(href="#") FAQ
                        li
                            a(href="#") Блог
                        li
                            a(href="#") Контакты




        div
            h1 test djgodf
            p.
                ug skdf sdjhf ksdjhf ksjdhf
                sdjfhsdkjfhsdkjlfh sdklfjh s
                sdjlkhf skdljf h


        footer