doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.shop
            include ./header.jade


            div.container
                .wrap


                    .list_products

                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/img2.jpg" alt="Товар 2")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 UAH
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/img3.jpg" alt="Товар 3")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 UAH
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/img4.jpg" alt="Товар 4")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 UAH
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/img5.jpg" alt="Товар 5")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 UAH
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/img2.jpg" alt="Товар 2")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 UAH
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/img3.jpg" alt="Товар 3")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 UAH
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/img4.jpg" alt="Товар 4")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 UAH
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/slider_price2.png" alt="Товар 5")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 UAH
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/blog.png" alt="Товар 4")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 UAH



                    .pagination
                        ul
                            li.prev
                                a(href="#")
                            li.next
                                a(href="#")



            include ./footer.jade