doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.shop
            include ./header.jade


            div.container
                .wrap


                    .list_products

                        .product
                            a(href="/product.html")

                                .images.img-holder
                                    span.new_mark NEW
                                    span.sale_mark SALE %
                                    img(src="img/content/img_product2.jpg" alt="Товар 2")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 грн
                                .old_price  490,00 грн
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    span.sale_mark SALE %
                                    img(src="img/content/img_product2.jpg" alt="Товар 3")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 грн
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    span.new_mark NEW
                                    img(src="img/content/img_product2.jpg" alt="Товар 4")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 грн
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/img_product2.jpg" alt="Товар 5")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 грн
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/img_product2.jpg" alt="Товар 2")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 грн
                        .product
                            a(href="/product.html")

                                .images.img-holder
                                    img(src="img/content/img_product2.jpg" alt="Товар 3")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 грн
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/img_product2.jpg" alt="Товар 4")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 грн
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/img_product2.jpg" alt="Товар 5")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 грн
                        .product
                            a(href="/product.html")
                                .images.img-holder
                                    img(src="img/content/img_product2.jpg" alt="Товар 4")
                                .product_name Кошелек кожаный Symonen.ko
                                .price 390,00 грн



                    .pagination
                        ul
                            li.prev
                                a(href="#")
                            li.next
                                a(href="#")



            include ./footer.jade