doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper
            include ./header.jade

            div.container
                .wrap

                    form.payment
                        h3 Оплата

                        .radio.cf.payments

                            div
                                input(type="radio", name="payment", value="liqpay", id="liqpay",checked="")
                                label(for="liqpay") LiqPay

                            div
                                input(type="radio", name="payment", value="novaposhta", id="novaposhta")
                                label(for="novaposhta") Наложный платеж “Новая почта”

                            div
                                input(type="radio", name="payment", value="courier", id="courier1")
                                label(for="courier1") Оплата курєру


                        h3 Доставка
                        .radio.cf.delivery

                            div.courier
                                input(type="radio", name="shipping_type", value="courier", id="courier", checked="")
                                label(for="courier") Курьером по г. Черкассы

                            div.novaposhta2
                                input(type="radio", name="shipping_type", value="novaposhta2" id="novaposhta2")
                                label(for="novaposhta2")  Новая почта


                        h3 Контактная информация
                        .row-form.cf
                            div
                                input(type="text", placeholder="Имя:", name="name", minlength="2", data-validate="name")
                                span.error Поле обязательное для заполнения
                            div
                                input(type="text", placeholder="Фамилия:", name="surname", minlength="2", data-validate="name")
                                span.error Поле обязательное для заполнения


                            div
                                input(type="text", placeholder="Город:",name="city", data-validate="name", id="city")
                                span.error Поле обязательное для заполнения

                            div.delivery_courier
                                input(type="text", placeholder="Улица:", name="street", data-validate="name" id="street")
                                span.error Поле обязательное для заполнения



                            div.delivery_courier
                                input(type="text", placeholder="Дом:",name="number", data-validate="number" id="number")
                                span.error Поле обязательное для заполнения

                            div
                                input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")
                                span.error Поле обязательное для заполнения


                            div
                                input(type="email", placeholder="Email:", name="email", data-validate="email")
                                span.error Поле обязательное для заполнения


                            div.delivery_novaposhta
                                input(type="text", placeholder="Номер отделения:",name="number_np", data-validate="empty" id="number_np")
                                span.error Поле обязательное для заполнения
                            div
                                textarea( placeholder="Комментарий:", name="message",data-validate="empty")
                                span.error Поле обязательное для заполнения
                        //button(type="submit")  Отправить
                        .btn.submit  Отправить








            include ./footer.jade