doctype html
html(lang="ru")
    head
        link(href="/css/main.css" rel="stylesheet" type="text/css")
        link(href="bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css")
        link(href="/css/owl.carousel.css" rel="stylesheet" type="text/css")
        link(href="/css/template.css" rel="stylesheet" type="text/css")
        link(href="/css/blueimp-gallery.css" rel="stylesheet" type="text/css")
        script(src="bower_components/jquery/dist/jquery.js")
        script(src="/js/owl.carousel.js")
        script(src="/js/untils.js")
        script(src="/js/alexValidate.js")
        script(src="/js/blueimp-gallery.min.js")


    body
        .page_wrapper
            include ./header.jade

            div.container
                .wrap

                    .productfull
                        .image.img-holder
                            .big-images#links

                                    a(href="img/content/img_product.jpg")
                                        img(src="img/content/img_product.jpg", alt="Кожанный кошелек")

                                    a(href="img/content/img_product.jpg")
                                        img(src="img/content/img_product.jpg", alt="Кожанный кошелек")

                                    a(href="img/content/img_product.jpg")
                                        img(src="img/content/img_product.jpg", alt="Кожанный кошелек")
                                    a(href="img/content/img_product.jpg")
                                        img(src="img/content/img_product.jpg", alt="Кожанный кошелек")
                            .thumbs

                                div
                                    img(src="img/content/related1.jpg", alt="Товар 1")
                                div
                                    img(src="img/content/related2.jpg", alt="Товар 1")
                                div
                                    img(src="img/content/related3.jpg", alt="Товар 1")
                                div
                                    img(src="img/content/related3.jpg", alt="Товар 1")

                        .info
                            form.add_cart
                                h1 Кожанный кошелек
                                span.code Код товара: 36525

                                .description При создании генератора мы использовали небезызвестный универсальный код речей.


                                .radio.color.cf
                                    span.attr_name Цвет:

                                    div
                                        input(type="radio", name="color", value="brown", id="brown",checked="")
                                        .price 599.00 UAH
                                        label(for="brown")

                                            img(src="img/content/color1.jpg")


                                    div
                                        input(type="radio", name="color", value="black",id="black")
                                        .price 699.00 UAH
                                        label(for="black")
                                            img(src="img/content/color2.jpg")

                                    div
                                        input(type="radio", name="color", value="brown2" id="brown2")
                                        .price 499.00 UAH
                                        label(for="brown2")
                                            img(src="img/content/color3.jpg")



                                button(type="submit") Добавить в корзину









            include ./footer.jade


        #blueimp-gallery.blueimp-gallery
            .slides
            h3.title
            a.prev ‹
            a.next ›
            a.close ×
            a.play-pause
            ol.indicator
