doctype html
html(lang="ru")
    include ./head.jade
    body
        .page_wrapper
            include ./header.jade

            div.container
                .wrap

                    .productfull
                        .image
                            .img-holder.img-slider(data-cat="brown2")
                                //span.sale_mark SALE %
                                span.new_mark NEW
                                .big-images#links1

                                        a(href="img/content/60-0.jpg")
                                            img(src="img/content/60-0.jpg", alt="Кожанный кошелек")

                                        a(href="img/content/60-0.jpg")
                                            img(src="img/content/60-0.jpg", alt="Кожанный кошелек")

                                        a(href="img/content/60-0.jpg")
                                            img(src="img/content/60-0.jpg", alt="Кожанный кошелек")
                                        a(href="img/content/60-0.jpg")
                                            img(src="img/content/60-0.jpg", alt="Кожанный кошелек")
                                .thumbs

                                    div
                                        img(src="img/content/related1.jpg", alt="Товар 1")
                                    div
                                        img(src="img/content/related2.jpg", alt="Товар 1")
                                    div
                                        img(src="img/content/related3.jpg", alt="Товар 1")
                                    div
                                        img(src="img/content/related3.jpg", alt="Товар 1")
                            .img-holder.img-slider(data-cat="black")
                                .big-images#links2

                                    a(href="img/content/530-0.jpg")
                                        img(src="img/content/530-0.jpg", alt="Кожанный кошелек")

                                    a(href="img/content/530-0.jpg")
                                        img(src="img/content/530-0.jpg", alt="Кожанный кошелек")

                                    a(href="img/content/530-0.jpg")
                                        img(src="img/content/530-0.jpg", alt="Кожанный кошелек")
                                    a(href="img/content/530-0.jpg")
                                        img(src="img/content/530-0.jpg", alt="Кожанный кошелек")
                                .thumbs

                                    div
                                        img(src="img/content/related1.jpg", alt="Товар 1")
                                    div
                                        img(src="img/content/related2.jpg", alt="Товар 1")
                                    div
                                        img(src="img/content/related3.jpg", alt="Товар 1")
                                    div
                                        img(src="img/content/related3.jpg", alt="Товар 1")

                            .img-holder.img-slider(data-cat="brown")
                                .big-images#links3

                                    a(href="img/content/535-0.jpg")
                                        img(src="img/content/535-0.jpg", alt="Кожанный кошелек")

                                    a(href="img/content/535-0.jpg")
                                        img(src="img/content/535-0.jpg", alt="Кожанный кошелек")

                                    a(href="img/content/535-0.jpg")
                                        img(src="img/content/535-0.jpg", alt="Кожанный кошелек")
                                    a(href="img/content/535-0.jpg")
                                        img(src="img/content/535-0.jpg", alt="Кожанный кошелек")
                                .thumbs

                                    div
                                        img(src="img/content/related1.jpg", alt="Товар 1")
                                    div
                                        img(src="img/content/related2.jpg", alt="Товар 1")
                                    div
                                        img(src="img/content/related3.jpg", alt="Товар 1")
                                    div
                                        img(src="img/content/related3.jpg", alt="Товар 1")

                        .info
                            form.add_cart
                                h1 Кожанный кошелек
                                span.code Код товара: 36525

                                .description При создании генератора мы использовали небезызвестный универсальный код речей.


                                .radio.color.cf

                                    span.attr_name Цвет:


                                    .color-holder
                                        div
                                            input(type="radio", name="color", value="brown2" id="brown2", checked="", data-filter="brown2")
                                            .color brown2
                                            label(for="brown2", style="background: #975f23")

                                        div
                                            input(type="radio", name="color", value="black",id="black", data-filter="black")
                                            .color black
                                            label(for="black", style="background: #000")


                                        div
                                            input(type="radio", name="color", value="brown", id="brown", data-filter="brown")
                                            .color brown
                                            label(for="brown", style="background: #46311b")


                                .radio.size.cf

                                        span.attr_name Размер:

                                        .size-holder
                                            div
                                                input(type="radio", name="size", value="size90" id="size90")
                                                label(for="size90") 90

                                            div
                                                input(type="radio", name="size", value="size100",id="size100")
                                                label(for="size100") 100

                                            div
                                                input(type="radio", name="size", value="size110", id="size110")
                                                label(for="size110") 110
                                            div
                                                input(type="radio", name="size", value="size110", id="size120", checked="")
                                                label(for="size120") 120



                                .price 499.00 UAH
                                .old_price  490,00 UAH
                                button(type="submit") Добавить в корзину









            include ./footer.jade


        #blueimp-gallery.blueimp-gallery
            .slides
            //h3.title
            a.prev
            a.next
            a.close
            //a.play-pause
            //ol.indicator
