doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.success-payment
            include ./header.jade

            div.container
                .wrap
                    p Оплата успешно прошла

            include ./footer.jade